@import "../../styles/variable";
.table-view{

  table{
    thead{
      th{
        *{
          font-family: $fontProximaBold!important;
        }
        text-transform: uppercase;
        font-size: 16px;
        background: #ececec;
        input{

          background: #ececec;
        }
      }
    }
    tbody{
      tr{
        &:hover{
          background: #ececec;
        }
      }
    }
  }
}
