@import "../../../styles/variable";

.my-card {
  width: 100%;

  .card-title {
    color: $blue;
    font-size: 20px;
    font-weight: 700;
    border-left: 4px solid $blue;
    padding: 10px 20px;
    //border-bottom: 1px solid $gray;
    a{
      color: $blue;
      font-size: 20px;
      font-weight: 700;
    }
    &:hover{
      a{
        //text-decoration: underline;
      }
    }
  }

  .card-body {
  }
}
