<div class="main-app terms-page">
  <link href="https://fonts.googleapis.com/css?family=Lato:700|Open+Sans:400,600,700" rel="stylesheet">
  <div id="page" style="background-color: #1e68ff;    padding: 20px;">
    <section class="header">
      <div class="container  d-flex a-c j-b  ">
        <div style="display: flex;  ">
          <a style="margin:auto" href="/">
            <img style="    max-height: 37px;" src="https://png.pngtree.com/element_pic/16/11/02/bd886d7ccc6f8dd8db17e841233c9656.jpg" alt="">
          </a>
        </div>
      </div>
    </section>
    <section style="
    background: #fff;
    color: #6b7c93;
    width: 90%;
    max-width: 595px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 20px 30px #0b2661!important;
    margin: 0 auto 30px;">
      <div class="innert-data d-flex">

        <div style="    padding: 50px;
    padding-bottom: 20px;">
          <h2 style="    text-align: center;    color: #6b7c93!important;;
    font-size: 36px;
    font-weight: 800;
    margin: 0;">@title@</h2>
          <p style="    color: #b8c0cb;
    font: 400 1rem/1.428 'Open Sans', sans-serif;">@content@</p><br/>
          <p style="    color: #b8c0cb;
    font: 400 1rem/1.428 'Open Sans', sans-serif;">If you have any questions, concerns or feedback please email <a
              href="mailto:test@gmail.com" style="    color: #147eff;">test@gmail.com</a></p>
          <br/>
          <h2 style="    text-align: center;    color: #6b7c93!important;;
    font-size: 36px;
    font-weight: 800;
    margin: 0;">What`s next</h2>
          <ol margin-inline-start="-20px"  style="margin-inline-start: -20px;!important;
    font: 400 1rem/1.428 'Open Sans', sans-serif;">


            <li style="    color: #b8c0cb;
    font: 400 1rem/1.428 'Open Sans', sans-serif;"> Permission is granted to temporarily download one copy of the materials
              (information or software) on
              our website for personal, non-commercial transitory viewing only. This is the grant of a
              license, not a transfer of title, and under this license you may not:
              modify or copy the materials;
            </li>
            <li style="    color: #b8c0cb;
    font: 400 1rem/1.428 'Open Sans', sans-serif;">Use the materials for any commercial purpose, or for any public display
              (commercial or
              non-commercial);
            </li>
            <li style="    color: #b8c0cb;
    font: 400 1rem/1.428 'Open Sans', sans-serif;">
              attempt to decompile or reverse engineer any software contained on out website;
            </li>

          </ol>
        </div>
        <div style="    font-size: 12px;
    color: #b8c0cb;
    text-align: center;
    background: #f7f7f7;
    padding: 20px 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;">
          This message was sent to <a style="    color: #147eff;">@reciever@</a>, uf you don`t want to recieve these email from  in the
          future, you can
          <a style="    color: #147eff;">unsubscribe</a>
        </div>
      </div>
    </section>
  </div>
</div>
