@import "./styles/btns";
@import "./styles/general";
@import "./styles/classes.scss";
@import "./styles/variable.scss";
@import "./styles/loader.scss";
//@import '~antd/dist/antd.css';
*, :after, :before {
  box-sizing: border-box;
}


@font-face {
  font-family: 'AvenirNextBold';
  src: url("./assets/fonts/AvenirNextCyr/AvenirNextCyr-Bold.ttf") format("opentype");
}

@font-face {
  font-family: 'AvenirNextCyr-Regular';
  src: url("./assets/fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf") format("opentype");
}

@font-face {
  font-family: 'AvenirNextCyr-Medium';
  src: url("./assets/fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf") format("opentype");
}

//@font-face {
//  font-family: 'Proxima Nova - Bold';
//  src: url("./assets/fonts/Proxima Nova Bold.otf") format("opentype");
//}
//@font-face {
//  font-family: 'Proxima Nova - Semibold';
//  src: url("./assets/fonts/Proxima Nova Semibold Italic.otf") format("opentype");
//}
//@font-face {
//  font-family: 'Proxima Nova - Semibold';
//  src: url("./assets/fonts/Proxima Nova Semibold Italic.otf") format("opentype");
//}

body {
  margin: 0;
  padding: 0;
  font-family: $fontProximaMed, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    font-family: $fontProximaMed;
  }
}

.fon-bold {
  font-family: $fontProximaBold;
  color: #022037;


  *:not(.MuiIconButton-label) {
    font-family: $fontProximaBold;
  }

  .MuiIconButton-label {
    * {
      color: $primary-blue-3  ;
    }

  }
}

.fon-reg {
  font-family: $fontProxima;
}

.fon-med {
  font-family: $fontProximaMed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
